@font-face {
    font-family: NanumPenScript;
    src: url("/public/fonts/NanumPenScript-Regular-KS1001.ttf");
}
@font-face {
    font-family: NanumBrushScript;
    src: url("/public/fonts/NanumBrushScript-Regular-ENSubset.ttf");
}
@font-face {
    font-family: NanumGothic;
    src: url("/public/fonts/NanumGothic-Regular.ttf");
}
section, article, aside, footer, header, nav, hgroup {
    display: block;
}
* {
    padding: 0px;
    margin: 0px;
}
body {
}
/*#circlePlayer {
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: transform .5s;
    transform: translate(100%, 0%);
    z-index: 1;
}*/
#pageDiv_outBox {
    width: 100%;
    overflow-x: hidden;
}
#pageDiv_inBox {
    width: 200%;
    display: flex;
    transition: transform .5s;
    //transform: translate(-50%, 0%);
}
.pageDiv_child {
    width: 100%;
}
#page_one {
}
#page_two {
}
.view_pageTwo {
    transform: translate(-50%, 0%);
}
.translate_back {
    transform: translate(0%, 0%) !important;
}
.translate_left {
    transform: translate(-100%, 0%) !important;
}
.translate_top {
    transform: translate(0%, -100%) !important;
}
.translate_right {
    transform: translate(100%, 0%) !important;
}
.translate_bottom {
    transform: translate(0%, 100%) !important;
}
.display_block {
    display: block;
}
.display_none {
    display: none;
}
/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}