#backgroundDiv_outbox {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(66,66,66,1);
    background-color: #F7BE81;
    background-color: #E3F2FD;
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: -1000000;
    display: none;
}
#backgroundDiv_inbox {
    width: 170%;
    height: 150%;
//    border: 1px solid rgba(158,158,158,1);
    transform-origin: 50% 50%;
//    transform: rotate(-45deg) translateY(-25%);
    transform: rotate(-45deg) translateY(-40%);
}
.backgroundDiv_child {
    width: 100%;
//    height: 17.5%;
    height: 15%;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #B6B6B6;
    background-color: #FAFAFA !important;
//    box-shadow: 0px -1px 4px -1px rgba(0,0,0,1);
    transition: height 0.5s, background-color 0.5s;
}
.backgroundDiv_child:hover {
//    height: 20%;
    height: 17.5%;
}
.backgroundDiv_child:active {
    background-color: rgba(255,255,255,1) !important;
}
#backgroundDiv_one {
    background-color: rgba(191,54,12,1);
    background-color: #F5A9BC;
    background-color: #E3F2FD;
//    box-shadow: 0px 2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_two {
    background-color: rgba(255,87,34,1);
    background-color: #F5A9E1;
    background-color: #BBDEFB;
//    box-shadow: 0px 2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_three {
    background-color: rgba(255,138,101,1);
    background-color: #F6CEF5;
    background-color: #90CAF9;
//    box-shadow: 0px 2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_four {
    background-color: rgba(100,181,246,1);
    background-color: #BCA9F5;
    background-color: #64B5F6;
//    box-shadow: 0px -2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_five {
    background-color: rgba(33,150,243,1);
    background-color: #A9BCF5;
    background-color: #42A5F5;
//    box-shadow: 0px -2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_six {
    background-color: rgba(17,71,161,1);
    background-color: #81F7D8;
    background-color: #2196F3;
//    box-shadow: 0px -2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_seven {
    background-color: rgba(17,71,161,1);
    background-color: #A9F5BC;
    background-color: #1E88E5;
//    box-shadow: 0px -2px 5px 0px rgba(50,50,50,1) inset;
}
#backgroundDiv_eight {
    background-color: rgba(17,71,161,1);
    background-color: #1976D2;
//    box-shadow: 0px -2px 5px 0px rgba(50,50,50,1) inset;
}
/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}