#backgroundDiv_outbox {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    //width: 100%;
    //height: 100vh;
    background-color: rgba(66,66,66,1);
    background-color: #F7BE81;
    background-color: #E3F2FD;
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: -1000000;
}
#backgroundDiv_inbox {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    //width: 100%;
    //height: 100vh;
}
.backgroundDiv_child {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    //width: 100%;
    //height: 100vh;
    background-color: #5593C2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
#backgroundDiv_one {
}
#backgroundDiv_two {
}
#backgroundDiv_three {
    transform: translate(0%, -100%);
    transition: transform .5s;
}
#backgroundDiv_four {
}
#backgroundDiv_five {
}
#backgroundDiv_six {
}
#backgroundDiv_seven {
}
#backgroundDiv_eight {
    background-color: rgba(0,0,0,0.3);
    //background-color: rgba(150,150,150,0.0);
}

/* 모바일 */
@media all and (max-width:767px) {
    #backgroundDiv_one {
        background-image: url('/public/images/S/water-blue-ocean.jpg');
    }
    #backgroundDiv_two {
        background-image: url('/public/images/S/technology-music-sound-things.jpg');
    }
    #backgroundDiv_three {
        background-image: url('/public/images/S/dots-lights-night-dark-abstract_Polarfox.jpg');
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {
    #backgroundDiv_one {
        background-image: url('/public/images/L/water-blue-ocean.jpg');
    }
    #backgroundDiv_two {
        background-image: url('/public/images/L/technology-music-sound-things.jpg');
    }
    #backgroundDiv_three {
        background-image: url('/public/images/L/dots-lights-night-dark-abstract_Polarfox.jpg');
    }
}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}