#boardDiv {
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    //justify-content: center;
}
#headDiv {
    padding: 0px;
    margin: 0px;
    flex: 100%;
    height: 70px;
    background-color: #03A9F4;
    //border-width: 0px 0px 1px 0px;
    //border-style: solid;
    //border-color: #B6B6B6;
}
#sideLDiv {
    padding: 0px;
    margin: 0px;
    //max-width: 150px;
    //width: 10%;
    //min-width: 80px;
    flex-grow: 1;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #B6B6B6;
}
div > div {
//    flex-grow: 1;
}
#centerDiv {
    padding: 0px;
    margin: 0px;
    position: relative;
    //width: 80%;
    flex-grow: 5;
    height: calc(100% - 70px);
    overflow: auto;
}
#sideRDiv {
    padding: 0px;
    margin: 0px;
    //max-width: 150px;
    //width: 10%;
    //min-width: 80px;
    flex-grow: 2;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #B6B6B6;
}
#footDiv {
    padding: 0px;
    margin: 0px;
    //width: 100%;
    flex: 100%;
    height: 100px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #B6B6B6;
    display: none;
}