/* 전체 */
.circleMenu_playingDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleMenu_controlDiv {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleMenu_albumCover {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    border-radius: 50% 50%;
    //border: 0.85vh solid rgba(0,0,0,0.7);
    //border: 2px solid rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.7);
    box-sizing: border-box;
    object-fit: cover;
    //display: block;
    z-index: 1;
}
#circlePlayer_infoBox {
    padding: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    box-sizing: border-box;
    border-radius: 50%;
    border-shadow: 0px 0px 5px rgba(0,0,0,0.7) inset;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}
.circlePlayer_textInfo {
    font-family: NanumPenScript, sans-serif;
    margin: 1vh;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.7), 0px 1px 5px rgba(0,0,0,0.5);
    color: white;
    z-index: 2;
}
#circlePlayer_title {
    font-size: 100%;
}
#circlePlayer_artist {
    font-size: 90%;
    color: rgba(234,234,234,1);
}
.circleMenu_childCircle {
    font-family: NanumPenScript, sans-serif;
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    //background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    //border: 0.6vh solid rgba(0,0,0,0.7);
    //border: 2px solid rgba(255,255,255,0.7);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.7);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    //text-shadow: 0px 1px 2px rgba(0,0,0,0.7);
    //text-shadow: 0px 1px 2px rgba(0,0,0,0.7), 0px 1px 5px rgba(0,0,0,0.5), 0 0 1px #212121, 0 0 1px #212121, 0 0 1px #212121, 0 0 1px #212121, 0 0 1px #212121;
    color: white;
    color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    //transition: transform .3s;
}
.hideChildBtn {
    transform: translate(0px, 0px) !important;
}
.childCircle5 {
    /*background-image: url("/public/images/WebResponse/play.png");
    background-repeat: no-repeat;
    background-position: center 0.5vh;
    background-size: 110%;*/
}
/*
#circleMenu_showControl {
    transform: translate(20vh, -20vh);
}
#circleMenu_shuffle {
    transform: translate(20vh, 20vh);
}
#circleMenu_loop {
    transform: translate(20vh, -20vh);
}
#circleMenu_nextTrack {
    transform: translate(20vh, -20vh);
}
#circleMenu_previousTrack {
    transform: translate(-20vh, 20vh);
}
#circleMenu_play {
    transform: translate(-20vh, 20vh);
}
#circleMenu_volumeDown {
    transform: translate(-27.1vh, -8vh);
}
#circleMenu_volumeUp {
    transform: translate(-20vh, -20vh);
}
#circleMenu_lyrics {
    transform: translate(-20vh, -20vh);
}
#circleMenu_showControl {
    transform: translate(20vh, -20vh);
}
#circleMenu_shuffle {
    transform: translate(20vh, 20vh);
}
#circleMenu_loop {
    transform: translate(20vh, -20vh);
}
#circleMenu_nextTrack {
    transform: translate(20vh, -20vh);
}
#circleMenu_previousTrack {
    transform: translate(-20vh, 20vh);
}
#circleMenu_play {
    transform: translate(-20vh, 20vh);
}
#circleMenu_volumeDown {
    transform: translate(-27.1vh, -8vh);
}
#circleMenu_volumeUp {
    transform: translate(-20vh, -20vh);
}
#circleMenu_lyrics {
    transform: translate(-20vh, -20vh);
}
*/
/* 모바일 */
@media all and (max-width:767px) {

    .circleMenu_controlDiv {
        width: 40vh;
        height: 40vh;
        font-size: 3.5vh;
    }
    .circleMenu_childCircle {
        top: calc(50% - 6vh);
        left: calc(50% - 6vh);
        width: 12vh;
        height: 12vh;
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

    .circleMenu_controlDiv {
        width: 65vh;
        height: 65vh;
        font-size: 6vh;
    }
    .circleMenu_childCircle {
        top: calc(50% - 9.75vh);
        left: calc(50% - 9.75vh);
        width: 19.5vh;
        height: 19.5vh;
    }
}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

    .circleMenu_controlDiv {
        width: 50vh;
        height: 50vh;
        font-size: 4vh;
    }
    .circleMenu_childCircle {
        top: calc(50% - 7.05vh);
        left: calc(50% - 7.05vh);
        width: 14.1vh;
        height: 14.1vh;
    }
    .circleMenu_childCircle p {
        transition: transform .3s;
    }
    .circleMenu_childCircle p:hover {
        transform: scale(1.2,1.2);
    }

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}