/* 전체 */
.circleMenu_playingDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleMenu_controlDiv {
    position: relative;
    //border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleMenu_albumCover {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    border: 0.85vh solid rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.7);
    box-shadow: 0px 0px 1.7vh rgba(0,0,0,0.7);
    box-sizing: border-box;
    object-fit: cover;
    //display: block;
    z-index: 1;
}
.circleMenu_childCircle {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    border: 0.6vh solid rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.7);
    box-shadow: 0px 0px 0.85vh rgba(0,0,0,0.7);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    //transition: transform .3s;
}
.hideChildBtn {
    transform: translate(0px, 0px) !important;
}
/*
#circleMenu_showControl {
    transform: translate(20vh, -20vh);
}
#circleMenu_shuffle {
    transform: translate(20vh, 20vh);
}
#circleMenu_loop {
    transform: translate(20vh, -20vh);
}
#circleMenu_nextTrack {
    transform: translate(20vh, -20vh);
}
#circleMenu_previousTrack {
    transform: translate(-20vh, 20vh);
}
#circleMenu_play {
    transform: translate(-20vh, 20vh);
}
#circleMenu_volumeDown {
    transform: translate(-27.1vh, -8vh);
}
#circleMenu_volumeUp {
    transform: translate(-20vh, -20vh);
}
#circleMenu_lyrics {
    transform: translate(-20vh, -20vh);
}
#circleMenu_showControl {
    transform: translate(20vh, -20vh);
}
#circleMenu_shuffle {
    transform: translate(20vh, 20vh);
}
#circleMenu_loop {
    transform: translate(20vh, -20vh);
}
#circleMenu_nextTrack {
    transform: translate(20vh, -20vh);
}
#circleMenu_previousTrack {
    transform: translate(-20vh, 20vh);
}
#circleMenu_play {
    transform: translate(-20vh, 20vh);
}
#circleMenu_volumeDown {
    transform: translate(-27.1vh, -8vh);
}
#circleMenu_volumeUp {
    transform: translate(-20vh, -20vh);
}
#circleMenu_lyrics {
    transform: translate(-20vh, -20vh);
}
*/
/* 모바일 */
@media all and (max-width:767px) {

    .circleMenu_controlDiv {
        width: 40vh;
        height: 40vh;
    }
    .circleMenu_childCircle {
        top: calc(50% - 6vh);
        left: calc(50% - 6vh);
        width: 12vh;
        height: 12vh;
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

    .circleMenu_controlDiv {
        width: 65vh;
        height: 65vh;
    }
    .circleMenu_childCircle {
        top: calc(50% - 9.75vh);
        left: calc(50% - 9.75vh);
        width: 19.5vh;
        height: 19.5vh;
    }
}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

    .circleMenu_controlDiv {
        width: 50vh;
        height: 50vh;
    }
    .circleMenu_childCircle {
        top: calc(50% - 7.05vh);
        left: calc(50% - 7.05vh);
        width: 14.1vh;
        height: 14.1vh;
    }
}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}