/* 전체 */

.icon-48 {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    max-width: 48px;
    max-height: 48px;
    box-sizing: border-box;

    //transition: all .5s;
}
.icon-64 {
    min-width: 64px;
    min-height: 64px;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    box-sizing: border-box;

    //transition: all .5s;
}
.icon-128 {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
    max-width: 128px;
    max-height: 128px;
    box-sizing: border-box;

    //transition: all .5s;
}
.icon-256 {
    min-width: 256px;
    min-height: 256px;
    width: 256px;
    height: 256px;
    max-width: 256px;
    max-height: 256px;
    box-sizing: border-box;

    //transition: all .5s;
}

/* aside 버튼 아이콘 CSS */
.dynamicIcon {
    cursor: pointer;
}
/* up/down 아이콘 CSS */
.uPDownDiv {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uPDownDiv > div {
    min-width: 19px;
    height: 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(105, 105, 105, 1);

    transition: transform .5s;
    transform: rotateZ(-50deg);
}
.uPDownDiv > div:nth-child(2) {
    margin: -4px -8px -4px -7px;
    transform: rotateZ(50deg);
}
.uPDownDiv > div:nth-child(3) {
    margin: -4px -7px -4px -8px;
    transform: rotateZ(50deg);
}
.uPDownDiv:hover div {
    transform: rotateZ(50deg);
}
.uPDownDiv:hover div:nth-child(2),
.uPDownDiv:hover div:nth-child(3) {
    transform: rotateZ(-50deg);
}

/* 세팅 아이콘 CSS */
.settingDiv {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settingDiv > div {
    padding: 0px;
    margin: 2px 0px;
    width: 100%;
    border: 1px solid rgba(105, 105, 105, 1);
    border-radius: 8px; /* ball 크기 (10px + 4px) + bar 테두리 (2px) (이미 최소 크기라 box-sizng 미반영) */ 
    box-sizing: border-box;
}
.settingDiv > div > div {
    width: 10px;
    min-height: 10px;
    border: 1px solid rgba(105, 105, 105, 1);
    border-radius: 50%;
    box-sizing: border-box;

    transition: margin .5s;
}
.settingDiv > div:nth-child(2) > div,
.settingDiv:hover > div:nth-child(1) > div {
    margin: 2px 2px 2px 26px;
}
.settingDiv > div:nth-child(1) > div,
.settingDiv:hover > div:nth-child(2) > div {
    margin: 2px 26px 2px 2px;
}
/* 컨트롤 버튼 CSS */

.repeat {
    display: flex;
    justify-content: center;
    align-items: center;
}
.repeat div {
    border: 1px solid rgba(105, 105, 105, 1);
    box-sizing: border-box;
    transform: rotateZ(45deg);
}
.repeat div:nth-child(1) { border-radius: 50% 0% 50% 50%; }
.repeat div:nth-child(2) { border-radius: 50% 50% 50% 0%; }
.repeat.icon-48 div { margin: 0px 1px; width: 9px; height: 9px; }
.repeat.icon-64 div { margin: 0px 2px; width: 12px; height: 12px; }
.repeat.icon-128 div { margin: 0px 4px; width: 24px; height: 24px; }
.repeat.icon-256 div { margin: 0px 9px; width: 48px; height: 48px; }

.prev {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prev > div > div {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(105, 105, 105, 1);
    box-sizing: border-box;
}
.prev > div > div:nth-child(1) { transform: rotateZ(-45deg); }
.prev > div > div:nth-child(2) { transform: rotateZ(45deg); }
.prev.icon-48 > div { margin: 0px -2px; width: 12px; }
.prev.icon-48 > div > div { margin: 3.5px 0px; width: 12px; }
.prev.icon-64 > div { margin: 0px -3px; width: 16px; }
.prev.icon-64 > div > div { margin: 5px 0px; width: 16px; }
.prev.icon-128 > div { margin: 0px -5px; width: 33px; }
.prev.icon-128 > div > div { margin: 11px 0px; width: 33px; }
.prev.icon-256 > div { margin: 0px -10px; width: 64px; }
.prev.icon-256 > div > div { margin: 22px 0px; width: 64px; }

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.play div {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(105, 105, 105, 1);
    box-sizing: border-box;

    transition: all .5s;
}
.play div:nth-child(1) { transform: rotateZ(45deg); }
.play div:nth-child(2) { transform: rotateZ(-45deg); }
.play.pause div { margin: -0.5px 0px !important; }
.play.icon-48 div { margin: 3px 0px; width: 11px; }
.play.icon-48.pause div { width: 17px; }
.play.icon-48.pause div:nth-child(1) { transform: translateX(-3px) rotateZ(90deg); }
.play.icon-48.pause div:nth-child(2) { transform: translateX(3px) rotateZ(-90deg); }
.play.icon-64 div { margin: 5px 0px; width: 16.5px; }
.play.icon-64.pause div { width: 23.5px; }
.play.icon-64.pause div:nth-child(1) { transform: translateX(-5px) rotateZ(90deg); }
.play.icon-64.pause div:nth-child(2) { transform: translateX(5px) rotateZ(-90deg); }
.play.icon-128 div { margin: 11px 0px; width: 33px; }
.play.icon-128.pause div { width: 47px; }
.play.icon-128.pause div:nth-child(1) { transform: translateX(-10px) rotateZ(90deg); }
.play.icon-128.pause div:nth-child(2) { transform: translateX(10px) rotateZ(-90deg); }
.play.icon-256 div { margin: 23px 0px; width: 67px; }
.play.icon-256.pause div { width: 95px; }
.play.icon-256.pause div:nth-child(1) { transform: translateX(-20px) rotateZ(90deg); }
.play.icon-256.pause div:nth-child(2) { transform: translateX(20px) rotateZ(-90deg); }

.next {
    display: flex;
    justify-content: center;
    align-items: center;
}
.next > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.next > div > div {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(105, 105, 105, 1);
    box-sizing: border-box;
}
.next > div > div:nth-child(1) { transform: rotateZ(45deg); }
.next > div > div:nth-child(2) { transform: rotateZ(-45deg); }
.next.icon-48 > div { margin: 0px -2px; width: 12px; }
.next.icon-48 > div > div { margin: 3.5px 0px; width: 12px; }
.next.icon-64 > div { margin: 0px -3px; width: 16px; }
.next.icon-64 > div > div { margin: 5px 0px; width: 16px; }
.next.icon-128 > div { margin: 0px -5px;  width: 33px; }
.next.icon-128 > div > div { margin: 11px 0px; width: 33px; }
.next.icon-256 > div { margin: 0px -10px; width: 64px; }
.next.icon-256 > div > div { margin: 22px 0px; width: 64px; }




.shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shuffle div { border-style: solid; border-color: rgba(105, 105, 105, 1); }
.shuffle div:nth-child(1),
.shuffle div:nth-child(4) { border-width: 1px 0px 1px 0px; }
.shuffle div:nth-child(2) { border-width: 1px 1px 0px 0px; transform: rotateZ(45deg); }
.shuffle div:nth-child(3) { border-width: 1px 0px 0px 1px; transform: rotateZ(-45deg); }
.shuffle.icon-48 div:nth-child(1),
.shuffle.icon-48 div:nth-child(4) { width: 5px; height: 9px; }
.shuffle.icon-48 div:nth-child(1) {
    border-top-right-radius: 3px 2px;
    border-bottom-right-radius: 3px 2px;
}
.shuffle.icon-48 div:nth-child(4) {
    border-top-left-radius: 3px 2px;
    border-bottom-left-radius: 3px 2px;
}
.shuffle.icon-48 div:nth-child(2),
.shuffle.icon-48 div:nth-child(3) { width: 7px; height: 7px; }
.shuffle.icon-48 div:nth-child(2) {
    margin: 0px 1px 0px -5px;
    border-top-left-radius: 3px 2px;
    border-bottom-right-radius: 2px 3px;
}
.shuffle.icon-48 div:nth-child(3) {
    margin: 0px -5px 0px 1px;
    border-top-right-radius: 3px 2px;
    border-bottom-left-radius: 2px 3px;
}
.shuffle.icon-64 div:nth-child(1),
.shuffle.icon-64 div:nth-child(4) { width: 6px; height: 13px; }
.shuffle.icon-64 div:nth-child(1) {
    border-top-right-radius: 3px 2px;
    border-bottom-right-radius: 3px 2px;
}
.shuffle.icon-64 div:nth-child(4) {
    border-top-left-radius: 3px 2px;
    border-bottom-left-radius: 3px 2px;
}
.shuffle.icon-64 div:nth-child(2),
.shuffle.icon-64 div:nth-child(3) { width: 10px; height: 10px; }
.shuffle.icon-64 div:nth-child(2) {
    margin: 0px 1.5px 0px -6.5px;
    border-top-left-radius: 3px 2px;
    border-bottom-right-radius: 2px 3px;
}
.shuffle.icon-64 div:nth-child(3) {
    margin: 0px -6.5px 0px 1.5px;
    border-top-right-radius: 3px 2px;
    border-bottom-left-radius: 2px 3px;
}
.shuffle.icon-128 div:nth-child(1),
.shuffle.icon-128 div:nth-child(4) { width: 12px; height: 25px; }
.shuffle.icon-128 div:nth-child(1) {
    border-top-right-radius: 6px 3px;
    border-bottom-right-radius: 6px 3px;
}
.shuffle.icon-128 div:nth-child(4) {
    border-top-left-radius: 6px 3px;
    border-bottom-left-radius: 6px 3px;
}
.shuffle.icon-128 div:nth-child(2),
.shuffle.icon-128 div:nth-child(3) { width: 20px; height: 20px; }
.shuffle.icon-128 div:nth-child(2) {
    margin: 0px 3.5px 0px -14px;
    border-top-left-radius: 6px 3px;
    border-bottom-right-radius: 3px 6px;
}
.shuffle.icon-128 div:nth-child(3) {
    margin: 0px -14px 0px 3.5px;
    border-top-right-radius: 6px 3px;
    border-bottom-left-radius: 3px 6px;
}
.shuffle.icon-256 div:nth-child(1),
.shuffle.icon-256 div:nth-child(4) { width: 25px; height: 50px; }
.shuffle.icon-256 div:nth-child(1) {
    border-top-right-radius: 10px 4px;
    border-bottom-right-radius: 10px 4px;
}
.shuffle.icon-256 div:nth-child(4) {
    border-top-left-radius: 10px 4px;
    border-bottom-left-radius: 10px 4px;
}
.shuffle.icon-256 div:nth-child(2),
.shuffle.icon-256 div:nth-child(3) { width: 38px; height: 38px; }
.shuffle.icon-256 div:nth-child(2) {
    margin: 0px 7px 0px -23px;
    border-top-left-radius: 10px 4px;
    border-bottom-right-radius: 4px 10px;
}
.shuffle.icon-256 div:nth-child(3) {
    margin: 0px -23px 0px 7px;
    border-top-right-radius: 10px 4px;
    border-bottom-left-radius: 4px 10px;
}

/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}