/* 전체 */
/* 리스트 타입 */
/* A 타입 */
.list_type_A {
    height: 100%;
}
.list_type_A .songSec {
    margin: 1px 0px;
    position: relative;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    overflow: hidden;
}
.list_type_A .songSec:last-child {
    margin: 1px 0px 0px 0px;
}
.list_type_A .songSec:first-child {
    margin: 0px 0px 1px 0px;
}
.list_type_A .songImgSec_list {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border: 3px solid rgba(236, 236, 236, 1);
    box-sizing: border-box;
    overflow: hidden;
}
.list_type_A .songCover_list {
    width: 100%;
    display: block;
}
.list_type_A .songTextSec_list {
    padding: 10px;
    width: calc(100% - 100px);
    box-sizing: border-box;
}
.list_type_A .songTextSec_list p {
    white-space: nowrap;
    overflow: hidden;
}
.list_type_A .songTitle_list {
    margin: 5px 0px 12px 5px;
    font-size: 88%;
}
.list_type_A .songArtist_list {
    margin: 0px 0px 5px 5px;
    font-size: 55%;
}
.list_type_A .songAlbum_list {
    margin: 0px 0px 0px 5px;
    font-size: 55%;
}
.list_type_A .songTime_list {
    padding: 5px 0px;
    text-align: right;
    font-size: 60%;
}
.list_type_A .songTimeChild_list {
    padding: 5px 0px 5px 20px;
    background-image: url("/public/images/small_n_flat/clock.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left, center;

}
/************************************************************************/
/* B 타입 */
.list_type_B {
    padding: 10px 0px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list_type_B .songSec {
    margin: 10px;
    position: relative;
    width: 200px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    overflow: hidden;

}
.list_type_B .songImgSec_list {
    width: 180px;
    height: 180px;
    width: 200px;
    height: 200px;
    border: 3px solid rgba(236, 236, 236, 1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: rgba(236, 236, 236, 1);
    box-sizing: border-box;
    overflow: hidden;
}
.list_type_B .songCover_list {
    width: 100%;
    display: block;
}
.list_type_B .songTextSec_list {
    padding: 10px;
    box-sizing: border-box;
}
.list_type_B .songTextSec_list p {
    white-space: nowrap;
    overflow: hidden;
}
.list_type_B .songTitle_list {
    margin: 0px 0px 10px 0px;
    font-size: 88%;
}
.list_type_B .songArtist_list {
    margin: 0px 0px 5px 0px;
    font-size: 55%;
}
.list_type_B .songAlbum_list {
    margin: 0px 0px 2px 0px;
    font-size: 55%;
}
.list_type_B .songTime_list {
    padding: 3px 0px;
    margin: 0px 0px -3px 0px;
    text-align: right;
    font-size: 60%;
}
.list_type_B .songTimeChild_list {
    padding: 5px 0px 5px 20px;
    background-image: url("/public/images/small_n_flat/clock.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left, center;

}
/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}