/* 전체 */
body {
    font-family: NanumGothic;
}
#player_selectList {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    text-align: center;
    z-index: 2;

    transition: transform .5s;
}
#selectListDiv {
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    color: #212121;
    overflow: auto;
}
#profileInfoSec {
    padding: 20px 20px 15px 20px;
}
#profileMessage {
    padding: 0px 0px 15px 0px;
}
#profileImg {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: rgba(155, 89, 182, 1);
    border-radius: 50%;
}
#selectListChildSec {
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.selectList_btn {
    padding: 10px;
    margin: 0px auto;
    width: 120px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(150, 150, 150, 1);
}
.selectList_btn:last-child {
    border: none;
}
#favoriteListSec {
    padding: 10px 0px;
    width: 100%;
    background-color: rgba(236, 240, 241, 1);
    //box-shadow: 0px 0px 3px rgba(44, 62, 80, 0.7) inset, 0px 0px 10px rgba(44, 62, 80, 0.5) inset;
    color: #212121;
    //color: #fff;
}
.favorite_btn {
    padding: 10px;
    margin: 0px auto;
    width: 120px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #aaa; 
}
.favorite_btn:last-child {
    border: none;
}

#player_topBar {
    position: fixed;
    top: 0px;
    height: 60px;
    background-color: rgba(41, 128, 185, 1);
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(-100%);
    transition: transform .5s;
}
.dynamicIcon div {
    border-color: #fff;
    background-color: #fff;
}
.dynamicIcon div div {
    //border-color: rgba(41, 128, 185, 1);
    //background-color: rgba(41, 128, 185, 1);
}

#searchBar {
    padding: 10px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: none;
    border-radius: 18px;
    outline: none;
    font-size: 90%;
    text-align: center;
}
#player_board {
    box-sizing: border-box;
    background-color: #F8FCFD;
}
#player_playing {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 1;
}
#songCover_current {
    background-image: url("/public/images/sampleCover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;

    transition: background-image .5s;
}
#songInfoDiv_current {
    background-color: #fff;
}
#songTextSec_current {
    padding: 18px 10px 12px 10px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(44, 62, 80, 0.7), 0px 0px 10px rgba(44, 62, 80, 0.5);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#currentSongProgress_current {
    top: 0px;
    background-color: #fff;
}
#currentSongBufferedBar_current {
    background-color: rgba(189, 195, 199, 1);
}
#currentSongProgressBar_current {
    background-color: rgba(41, 128, 185, 1);
}
.progressDiv {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    overflow: hidden;
}
.BufferedBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transform: translateX(-100%);
}
.progressBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transform: translateX(-100%);
}
#currentSongTouchBar_current {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 22px;
    z-index: 20;
}
#songTextSec_current p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden; 
}
#songTitle_current {
    color: #212121;
    color: rgba(44, 62, 80, 1);
    font-size: 120%;
    font-weight: bold;
}
#songArtist_current {
    color: #757575;
    color: rgba(44, 62, 80, 0.7);
    font-size: 80%;
}
#songAlbum_current {
    color: #757575;
    color: rgba(44, 62, 80, 0.7);
    font-size: 80%;
}
#songTime_current {
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    color: #757575;
    color: rgba(44, 62, 80, 0.7);
    font-size: 80%;
    cursor: default;

    display: flex;
    justify-content: space-between;
}
#songCtrlSec_current {
    position: relative;
    width: 100%;
    background-color: #fff;
}
#songCtrlBtnSec_current {
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

}
.songCtrlBtn_current {
    margin: 0px 7px;
    border-radius: 50%;
    border: 1px solid rgba(105, 105, 105, 0);
    cursor: pointer;
}
.songCtrlBtn_current > div {
    border-color: rgba(44, 62, 80, 1) !important;
}
.songCtrlBtn_current > div > div {
    border-color: rgba(44, 62, 80, 1) !important;
}
.play {
    z-index: 1;
}
.repeat, .shuffle {
    border: none;
}
#currentOherProgress_current {
    bottom: 0px;
    background-color: rgba(236, 236, 236, 1);
}

#songAssocCtrlBtnSec_current {
}
#songAssocCtrlBtnDiv_current {
    height: 35px;
    background-color: rgba(236, 236, 236, 1);
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}
.songAssocCtrlBtn_current {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    font-size: 90%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.songAssocCtrlBtn_current:hover {
    background-color: rgba(255, 255, 255, 1);
}
.songAssocCtrlBtn_current.selectAssocBtn {
    background-color: rgba(255, 255, 255, 1);
}

#songAssocSec_current {
    background-color: rgba(236, 236, 236, 1);
    overflow: auto;
}

/* 자바스크립트로 뷰 조작 */
#player.view_player_topBar
#player_topBar {
    transform: translateY(0);
}
/* 모바일 */
@media all and (max-width:767px) {

    #player_selectList {
        width: 100%;
        transform: translateX(calc(-100% + 20px));
    }
    #selectListDiv {
        min-width: 200px;
        width: 50%;
        max-width: 300px;
        box-shadow: 0px 0px 3px rgba(44, 62, 80, 0.7), 0px 0px 10px rgba(44, 62, 80, 0.5);
    }
    #player_topBar {
        left: 0px;
        width: 100%;
        box-shadow: 0px 0px 3px rgba(44, 62, 80, 0.7), 0px 0px 10px rgba(44, 62, 80, 0.5);
    }
    #searchBarDiv {
        width: 100%;
    }
    #player_board {
        margin: 60px 0px 80px 0px;
    }
    body .list_type_B .songSec {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 10px rgba(0, 0, 0, 0.1);
    }
    #player_playing {
        left: 0px;
        width: 100%;

        transition: transform .5s;
        transform: translateY(100vh);
    }
    #songCoverSec_current {
        height: calc(100vh - 100px - 80px);
        overflow: hidden;

        transition: transform .5s;
    }
    #songCover_current {
        width: 100%;
        height: 100%;
    }
    #songInfoDiv_current {
        transition: transform .5s;
        transform: translateY(calc(-100vh + 100px - 2px));
    }
    #songTextSec_current {
        height: 100px;

        transition: transform .5s;
    }
    #songCtrlSec_current {
        height: 80px;
        z-index: 10;

        transition: transform .5s;
        transform: translateY(calc(-100px + 2px));
    }
    #songSimpleInfoSec_current {
        padding: 0px 0px 5px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: inherit;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        transition: margin .5s, transform .5s .5s;
    }
    #songSimpleCover_current {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 64px;
        height: 64px;
        display: block;
    }
    #songSimpleInfoSec_current p {
        margin: 5px 80px 5px 80px;
        white-space: nowrap;
        overflow: hidden; 
    }
    #songSimpleTitle_current {
        color: #212121;
        font-size: 95%;
    }
    #songSimpleArtist_current {
        color: #757575;
        font-size: 70%;
    }
    #songCtrlBtnSec_current {
        transition: transform .5s;
    }
    .songCtrlBtn_current:not(.play) {
        opacity: 0;
        transform: translateX(-100vw);
        transition: opacity .5s, transform 0s .5s;
    }
    .play {
        transition: all .5s, transform .5s .5s;
        transform: translateX(calc(50vw - 41px));
    }
    .play div {
        transition: all .5s;
    }
    #currentOherProgress_current {
        height: 2px;
    }
    #currentOherProgressBar_current {
        background-color: darkorange;
    }
    #songAssocCtrlBtnSec_current {
        transform: translateY(calc(-100px + 2px));

        transition: transform .5s;
    }
    #songAssocSec_current {
        height: calc(-35px);

        transition: height 0s .5s;
    }

    /* 자바스크립트로 조작할 클래스 */
    #player.view_player_selectList 
    #player_selectList {
        transform: translateX(0);
    }

    #player.view_playingSec 
    #player_playing {
        transform: translateY(0);
    }
    #player.view_playingSec 
    #player_playing
    #songCoverSec_current {
        transform: translateY(0);
    }
    #player.view_playingSec 
    #player_playing 
    #songInfoDiv_current {
        transform: translateY(0);
    }
    #player.view_playingSec 
    #player_playing 
    #songTextSec_current {
        transform: translateY(0);
    }
    #player.view_playingSec 
    #player_playing 
    #songAssocCtrlBtnSec_current {
        transform: translateY(0);
    }
    #player.view_playingSec 
    #player_playing 
    #songCtrlSec_current {
        transform: translateX(0);
    }
    #player.view_playingSec 
    #player_playing 
    #songSimpleInfoSec_current {
        margin: -10px 0px 0px 0px;
        transform: translateX(-100vw);
    }
    #player.view_playingSec 
    #player_playing 
    #songCtrlBtnSec_current {
        transform: translateY(-10px);
    }
    #player.view_playingSec 
    #player_playing 
    .songCtrlBtn_current:not(.play) {
        opacity: 1;
        transform: translateX(0);
        transition: opacity .5s 1s, transform 0s 1s;
    }
    #player.view_playingSec 
    #player_playing 
    .play {
        background-color: rgba(41, 128, 185, 1);
        box-shadow: 0px 0px 1px rgba(44, 62, 80, 0.7), 0px 0px 5px rgba(44, 62, 80, 0.5);
        transition: all .5s 1s, transform .5s .5s;
        transform: translateX(0);
    }
    #player.view_playingSec 
    #player_playing 
    .play div {
        border-color: rgba(255, 255, 255, 1) !important;
        transition: all .5s, border-color .5s 1s;
    }
    #player.view_playingSec.view_associateSec 
    #player_playing 
    #songInfoDiv_current {
        transform: translateY(calc(-100vh + 100px + 80px));
    }
    #player.view_playingSec.view_associateSec 
    #player_playing 
    #songInfoDiv_current
    #songAssocSec_current {
        height: calc(100vh - 100px - 80px - 35px);
        transition: height 0s;
    }

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {
    #player.view_playingSec 
    #player_playing 
    #songInfoDiv_current {
        transform: translateY(calc(-100vmax - 80px));
    }

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {
    #player {
        //display: flex;

    }
    #player_selectList {
        width: 170px;
        box-sizing: border-box;
        border-width: 0px 2px 0px 0px;
        border-color: rgba(236, 240, 241, 1);
        border-style: solid;
        overflow: hidden;
    }
    #selectListDiv {
        width: 170px;
    }
    #player_topBar {
        left: 170px;
        width: calc(100% - 400px - 170px);
        box-sizing: border-box;
        border-width: 0px 0px 2px 0px;
        border-color: rgba(236, 240, 241, 1);
        border-style: solid;
    }
    #searchBarDiv {
        width: 30%;
    }
    #player_board {
        position: relative;
        margin: 60px 0px 0px 170px;
        width: calc(100% - 400px - 170px);
    }
    body .list_type_B .songSec {
        box-sizing: border-box;
        border-width: 2px;
        border-color: rgba(236, 240, 241, 1);
        border-style: solid;
    }
    #player_playing {
        padding: 0px;
        right: 0px;
        width: 400px;
        height: 100vh;
        box-sizing: border-box;
        border-width: 0px 0px 0px 2px;
        border-color: rgba(236, 240, 241, 1);
        border-style: solid;
        overflow: hidden;
    }
    #songCoverSec_current {
        height: 400px;
    }
    #songCover_current {
        width: 100%;
        height: 100%;
    }
    #songInfoDiv_current {
        transition: transform .5s;
        transform: translateY(0);
    }
    #songTextSec_current {
        height: 100px;
    }
    #songCtrlSec_current {
        height: 100px;
    }
    #songSimpleInfoSec_current {
        display: none;
    }
    #songCtrlBtnSec_current {
        margin: -15px 0px 0px 0px;
    }
    .songCtrlBtn_current {
    }
    .play {
        background-color: rgba(155, 89, 182, 1);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    .play > div {
        border-color: rgba(255, 255, 255, 1) !important;
    }
    #songAssocSec_current {
        height: calc(100vh - 400px - 85px - 100px - 35px);

        transition: height 0s .5s;
    }
    
    /* 자바스크립트로 조작할 클래스 */
    #player.view_associateSec 
    #songInfoDiv_current {
        transform: translateY(-400px);
    }
    #player.view_associateSec 
    #songInfoDiv_current 
    #songAssocSec_current {
        height: calc(100vh - 85px - 100px - 35px);
        transition: height 0s;
    }
}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {
/*
    #player_selectList {
        width: 0px;

        transition: width .5s;
    }
    #player_selectList
    nav {
        transform: translateX(-100%);

        transition: transform .5s;
    }
    #player_board {
        width: calc(100% - 400px);

        transition: width .5s;
    }
    // 자바스크립트로 조작할 클래스 //
    #player.view_player_selectList 
    #player_selectList {
        width: 170px;
    }
    #player.view_player_selectList 
    #player_selectList
    nav {
        transform: translateX(0);
    }
    #player.view_player_selectList 
    #player_board {
        width: calc(100% - 520px);
    }
*/

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}