@font-face {
//    font-family: NanumPenScript;
//    src: url("/public/fonts/NanumPenScript-Regular-KS1001.ttf");
}
@font-face {
    font-family: NanumBrushScript;
    src: url("/public/fonts/NanumBrushScript-Regular-ENSubset.ttf");
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    overflow-x: hidden;
}
#pageDiv_outBox {
    //position: absolute;
    //transform: translate( 0%, 0%);
}
#login_outBox {
    //position: relative;
    //width: 100%;
    //top: 20vh;
    height: 100vh;
    /*background-attachment: fixed; // 데스크탑 크롬에서 프레임 드랍*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#login_outBox:before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    //top: 0px; bottom: 0px; left: 0px; right: 0px;
    background-color: #5593C2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
#login_outBox:after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100v h;
    //top: 0px; bottom: 0px; left: 0px; right: 0px;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}
#login_inBox {
    text-align: center;
}
#logo {
    font-family: NanumBrushScript, Comic Sans, Comic Sans MS, sans-serif;
    font-size: 20vw;
    color: rgba(255,255,255,1);
    text-shadow:  0px 1px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.1);
    cursor: default;
}
#mailAddr {
    padding: 12px 10px 12px 10px;
    margin: 20px 0px 40px 0px;
    width: 220px;
    //font-family: NanumPenScript, sans-serif;
    font-family: sans-serif;
    font-size: 100%;
    text-align: center;
    outline: none;
    border: 0px;
    border-radius: 20px;
    box-shadow:  0px 1px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
#CCBy {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: white;
}
#introduce_box {
    position: relative;
    width: 100%;
    height: 2000px;
    background-color: rgba(255,255,255,1);
    background-color: #fafafa;
    box-shadow: 0px 0px 10px black;
    color: #212121;
}
#question_btn {
    position: absolute;
    top: -55px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    font-family: NanumBrushScript, Comic Sans, Comic Sans MS, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #212121;
    text-align: center;
    border-radius: 50%;
    box-shadow:  0px 1px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#signUp_btn {
    padding: 7px;
    width: 100px;
    background-color: #ddd;
}
#signUp_outBox {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,1);
    background-color: #fafafa;
    box-shadow: 0px 0px 10px black;
    color: #212121;
    //transform: translate( -50%, -50%);
}

/* class로 관련 요소 변화 */
.loginPage_el {
}
.transition_toggle {
    transition: opacity 1.5s;
}
.opacity_toggle {
    opacity: 0;
}

/* 모바일 */
@media all and (max-width:767px) {
    #login_outBox:before {
        background-image: url('/public/images/S/water-blue-ocean.jpg');
    }
    #logo {
        font-size: 40vw;
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {
    #login_outBox {
        top: 0px;
    }
}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {
    #login_outBox:before {
        background-image: url('/public/images/L/water-blue-ocean.jpg');
    }
}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {
    #logo span {
        transition: opacity .5s;
    }
    #logo span:hover {
        opacity: 0.5;
    }

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}