/* 전체 */

/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {

}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {

}
/* 데스크탑 공통 기본 가로모드로 가정*/
@media all and (min-width:1025px) {

}
/* 데스크탑 공통 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) and (max-width:1280px) {

}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (max-width:1280px) and (orientation: portrait) {

}
/* 고해상도 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1281px) {

}
/* 고해상도 데스크탑 세로모드 portrait */
@media all and (min-width:1281px) and (orientation: portrait) {

}